html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
}

h1,
header > p {
  color: #fff;
}

h1 {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #70ad55;
}

input,
select,
textarea,
input[type="radio"] + label::before,
input[type="checkbox"] + label::before  {
  border-color: #6e8c62;
}

.optional {
  color: #70ad55;
}

hr {
  color: #70ad55;
}

.comments {
  height: 11em;
}

.btn {
  background-color: #6e8c62;
  border: 1px solid #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .test {
    padding-right: 1em;
  }

}
